.build-plan__list--noRender {
  padding-bottom: 25px;
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 25px;
}

.build-plan__list--noRender .build-plan__icon-drag:hover {
  background: #fff;
}

.build-plan__list--noRender .build-plan__elem {
  cursor: pointer;
}

.build-plan__elem.no-drag {
  cursor: pointer;
}

.build-plan__icon-drag.no-drag:hover {
  background: #fff;
}

.popular-tour {
  position: relative;
}

.popular-tour::before {
  content: attr(data-status);
  padding: 10px 24px 10px 24px;
  position: absolute;
  top: 40px;
  left: -15px;
  background: rgba(242, 242, 242, 0.9);
  border-radius: 12px;
  font-size: 12px;
  line-height: 18px;
  box-shadow: 0px 7px 40px -7px rgba(0, 0, 0, 0.3);
}

.tour-arrow__prev {
  top: 41%;
  left: -19px;
}

.tour-arrow__next {
  top: 41%;
  right: 0;
  transform: rotate(180deg);
}

.tour__slider {
  padding-bottom: 68px;
}

.tour__slider .swiper-scrollbar-drag {
  opacity: 1;
  background: #009974;
  border-radius: 10px;
}

.popular-tour__title {
  padding-left: 65px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .popular-tour::before {
    top: 10px;
    left: -15px;
  }

  .tour-arrow__prev {
    top: 41%;
  }

  .tour-arrow__next {
    top: 41%;
    right: -15px;
  }

  .popular-tour__title {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .tour-arrow__prev {
    display: none;
  }

  .tour-arrow__next {
    display: none;
  }
}