@font-face {
  font-family: "Sansation";
  font-display: swap;
  src: url("../fonts/Sansation_Bold.woff") format("woff"), url("../fonts/Sansation_Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  font-display: swap;
  src: url("../fonts/Sansation_Light.woff") format("woff"), url("../fonts/Sansation_Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  font-display: swap;
  src: url("../fonts/Sansation_Regular.woff") format("woff"), url("../fonts/Sansation_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-main: #728ECE;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: #000;
  overflow-x: hidden;
  font-weight: 400;
}

body.overlay {
  height: 100vh;
  overflow: hidden;
}

.page-content {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 15px;
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
}

.hide {
  display: none;
}

.btn {
  text-align: center;
  max-width: 412px;
  width: 100%;
  cursor: pointer;
  display: block;
  background: var(--color-main);
  border: none;
  outline: none;
  transition: all ease 0.2s;
  padding: 19px 40px;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
}

.btn:hover {
  background: #4F6FC2;
}

.btn:disabled {
  background: #BDBDBD;
  cursor: default;
}

.btn-reset {
  display: block;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.section-title {
  font-family: "Sansation", sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.section-title .decor-line {
  position: absolute;
  top: calc(100% + 5px);
  width: 39%;
  left: 18%;
  background: var(--color-main);
  height: 1px;
}

.section-title .decor-line::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--color-main);
}

.input-block__label {
  display: block;
  font-size: 16px;
  margin-bottom: 4px;
}

.input-block input {
  width: 100%;
}

input,
textarea,
select {
  display: block;
  border: 1px solid #BDBDBD;
  border-radius: 8px;
  font-family: inherit;
  padding: 15px 17px;
  font-size: 18px;
  line-height: 26px;
  color: #141414;
  outline: none;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border-color: var(--color-main);
}

input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  color: #BDBDBD;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #BDBDBD;
}

.header {
  padding: 10px 0;
  position: relative;
  z-index: 9;
}

.header_bg {
  background: linear-gradient(103.6deg, #ECF1FE 16.29%, #CEDCFF 97.25%);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  margin: 0 20px;
}

.header__list {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.header__list-elem {
  white-space: nowrap;
}

.header__list-elem:not(:last-child) {
  margin-right: 32px;
}

.header__handle {
  display: flex;
  align-items: center;
}

.header__language {
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 37px;
  font-weight: 500;
}

.dropdown {
  position: relative;
}

.dropdown__header {
  position: relative;
  padding-right: 16px;
  cursor: pointer;
}

.dropdown__header::after {
  content: url("../img/icons/arrow.svg");
  position: absolute;
  right: 0;
  top: -4px;
}

.dropdown__body {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  min-width: 100%;
  left: -8px;
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.3);
}

.dropdown__body-option {
  transition: all ease 0.2s;
  display: block;
  width: 100%;
  padding: 5px 10px;
  text-align: center;
}

.dropdown__body-option:hover {
  background: rgba(0, 0, 0, 0.1);
  color: var(--color-main);
  font-weight: 600;
}

.dropdown__body-option.active {
  color: var(--color-main);
  font-weight: 600;
}

.basket-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.burger {
  display: none;
  position: relative;
  width: 62px;
  height: 32px;
  cursor: pointer;
  z-index: 5;
}

.burger span {
  position: absolute;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  height: 2px;
  width: 100%;
  background: #000;
  display: block;
}

.burger span:first-child {
  top: 0;
}

.burger span:last-child {
  top: auto;
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.burger.active span:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  color: #000;
  padding: 20px 0;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 11px 12px rgba(0, 0, 0, 0.3);
  display: none;
}

.mobile-menu.show {
  display: block;
}

.hero {
  background: linear-gradient(103.6deg, #ECF1FE 16.29%, #CEDCFF 97.25%);
}

.hero .header__wrapper {
  border-bottom: 2px solid #fff;
  position: relative;
}

.hero .header__wrapper::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  transform: translateY(50%);
}

.hero-content {
  height: 622px;
}

.hero-content .container {
  height: 100%;
}

.hero-content__wrapper {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-content__descr {
  max-width: 580px;
  width: 50%;
  padding-bottom: 56px;
  position: relative;
  z-index: 2;
}

.hero-content__name {
  margin-bottom: 10px;
  max-width: 447px;
  width: 100%;
}

.hero-content__name img {
  display: block;
  width: 100%;
  height: auto;
}

.hero-content__text {
  margin-bottom: 60px;
  font-size: 32px;
  font-weight: 500;
}

.hero-content__img {
  position: absolute;
  top: -12px;
  right: 1px;
  max-width: 795px;
  width: 63%;
}

.hero-content__img img {
  display: block;
  width: 100%;
  height: auto;
}

.why {
  padding: 128px 0 157px;
}

.why__title {
  position: relative;
  text-align: center;
  margin-bottom: 70px;
}

.why__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.why-item {
  max-width: 272px;
  width: 100%;
}

.why-item:nth-child(2) {
  max-width: 380px;
  min-width: 272px;
}

.why-item:not(:last-child) {
  margin-right: 16px;
}

.why-item__icon {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(95.4deg, #EFF2FC 9.32%, #FBF3F1 80.62%);
  margin: 0 auto 32px;
}

.why-item__descr {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.about {
  background: linear-gradient(95.4deg, #EFF2FC 9.32%, #FBF3F1 80.62%);
  padding: 40px 0 111px;
}

.about__wrapper {
  display: flex;
  margin-bottom: 90px;
}

.about__wrapper-content {
  flex: 1 1 549px;
  padding-top: 40px;
  margin-right: 40px;
}

.about__title {
  margin-bottom: 44px;
}

.about__wrapper-text {
  font-size: 24px;
}

.about__wrapper-text p:not(:last-child) {
  margin-bottom: 20px;
}

.about__wrapper-img {
  max-width: 549px;
  width: 100%;
  flex: 1 1 549px;
}

.about__wrapper-img img {
  display: block;
  width: 100%;
  height: auto;
}

.about-more__title {
  text-align: center;
  margin-bottom: 50px;
}

.about-more__wrapper {
  max-width: 1064px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.about-more__item {
  font-size: 24px;
  padding: 60px 60px 54px 90px;
  background: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
}

.about-more__item::before {
  content: url(../img/icons/check-icon.svg);
  position: absolute;
  top: 32px;
  left: 35px;
}

.about-more__item:not(:last-child) {
  margin-right: 20px;
}

.vending {
  padding: 130px 0 45px;
}

.vending-row {
  display: flex;
  position: relative;
}

.vending-row:not(:last-child) {
  margin-bottom: 120px;
}

.vending-row__decor {
  position: absolute;
}

.vending-row_2 .vending-row__decor {
  top: -195px;
  left: -78px;
}

.vending-row_2 .vending-row__content {
  margin-right: 0;
  margin-left: 48px;
}

.vending-row_3 .vending-row__decor {
  top: -98px;
  right: -80px;
}

.vending-row__content {
  position: relative;
  z-index: 2;
  margin-right: 48px;
  flex: 1 1 100%;
}

.vending-row__title {
  margin-bottom: 43px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.vending-row__title .decor-line {
  width: 61%;
  left: -4%;
}

.vending-row__title .decor-line::before {
  left: auto;
  right: 0;
}

.vending-row__text {
  margin-bottom: 60px;
}

.vending-row__text p:not(:last-child) {
  margin-bottom: 20px;
}

.vending-row__btn {
  font-size: 20px;
  font-weight: 600px;
}

.vending-row__img {
  flex: 1 1 100%;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 542px;
  border-radius: 10px;
  overflow: hidden;
  flex: 1 0 542px;
}

.vending-row__img img {
  display: block;
  width: 100%;
  height: auto;
}

.partners {
  padding: 80px 0 80px;
  background: linear-gradient(95.4deg, #EFF2FC 9.32%, #FBF3F1 80.62%);
}

.partners__title {
  text-align: center;
  margin-bottom: 60px;
}

.partners__slider {
  position: relative;
  width: 100%;
  padding: 0 80px;
}

.partners__partner {
  width: 170px;
  height: 170px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__partnerv-img {
  display: block;
}

.partners__slider-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.partners__slider-arrow::after {
  display: none;
}

.partners__slider-arrow svg {
  transition: all ease 0.2s;
  stroke: var(--color-main);
}

.swiper-button-next svg {
  transform: rotate(180deg);
}

.quest-form {
  padding: 85px 0;
  background-image: url(../img/quest-form__bg.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}

.quest-form__block {
  max-width: 709px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 50px 50px 60px;
  box-shadow: -3px 0px 30px rgba(26, 53, 121, 0.2);
}

.quest-form__title {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}

.quest-form__text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 36px;
}

.quest-form__inp {
  max-width: 495px;
  margin: 0 auto 12px;
}

.quest-form__btn {
  font-weight: 600;
  font-size: 20px;
  margin: 40px auto 0;
  max-width: 495px;
}

.footer {
  background: #393A4F;
  padding: 30px 0;
  color: #fff;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

.footer__col:not(:first-child) {
  align-self: flex-end;
}

.footer__logo {
  display: block;
}

.footer__logo img {
  display: block;
}

.footer__elem {
  font-weight: 500;
  font-size: 20px;
}

.footer__elem:not(:last-child) {
  margin-bottom: 12px;
}

.footer__contacts-contact {
  font-size: 18px;
  font-weight: 400;
}

.footer__contacts-contact:not(:last-child) {
  margin-bottom: 22px;
}

.footer__copy {
  opacity: 0.7;
  font-size: 14px;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item__icon {
  margin-right: 12px;
}

@media (max-width: 1200px) {
  .header__nav {
    margin: 0 16px;
  }

  .header__list {
    font-size: 18px;
  }

  .header__list-elem:not(:last-child) {
    margin-right: 16px;
  }

  .header__language {
    margin-right: 16px;
  }
}

@media (max-width: 992px) {
  .header__logo {
    margin: 0 20px;
    max-width: 310px;
    position: relative;
    bottom: 5px;
  }

  .header__logo img {
    display: block;
    width: 100%;
    height: auto;
  }

  .header__list {
    display: block;
    font-size: 24px;
  }

  .header__list-elem:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .burger {
    display: block;
  }

  .hero-content {
    height: auto;
    padding: 60px 0 60px;
  }

  .hero-content__wrapper {
    display: block;
  }

  .hero-content__descr {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .hero-content__img {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .hero-content__btn {
    margin: 0 auto;
  }

  .why-item:not(:last-child) {
    font-size: 10px;
  }

  .why-item__descr {
    font-size: 19px;
  }

  .about__wrapper {
    display: block;
  }

  .about__wrapper-content {
    padding-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .about__wrapper-img {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }

  .about-more__wrapper {
    display: block;
  }

  .about-more__item {
    max-width: 522px;
    margin-right: 0;
    margin-left: auto;
  }

  .about-more__item:not(:last-child) {
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 44px;
  }

  .vending-row {
    flex-direction: column-reverse;
  }

  .vending-row:not(:last-child) {
    margin-bottom: 80px;
  }

  .vending-row_2 {
    flex-direction: column;
  }

  .vending-row_2 .vending-row__content {
    margin-left: 0;
  }

  .vending-row__content {
    flex: 0 0 auto;
    margin-right: 0;
  }

  .vending-row__btn {
    margin: 0 auto;
  }

  .vending-row__img {
    flex: 0 0 auto;
    margin: 0 auto 30px;
  }

  .quest-form {
    height: 1195px;
    background-position: left 100px;
    padding-bottom: 129px;
  }

  .quest-form .container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .footer__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .basket-btn {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .basket-btn svg {
    width: 100%;
    height: auto;
  }

  .burger {
    width: 42px;
    height: 24px;
  }

  .why {
    padding: 80px 0 75px;
  }

  .why__title .decor-line {
    left: 0;
    width: 50%;
  }

  .why__wrapper {
    display: block;
  }

  .why-item {
    margin: 0 auto;
  }

  .why-item:nth-child(2) {
    min-width: auto;
  }

  .why-item:not(:last-child) {
    margin: 0 auto 32px;
  }

  .why-item__icon {
    margin: 0 auto 24px;
  }

  .about-more__item {
    padding: 93px 19px 46px 36px;
  }

  .about-more__item::before {
    left: 32px;
    top: 32px;
  }

  .vending-row__decor {
    display: none;
  }

  .vending-row__title {
    margin-bottom: 20px;
  }

  .partners__slider {
    padding: 0 0 80px 0;
  }

  .partners__slider-arrow {
    bottom: 0;
    top: auto;
    left: calc(50% - 50px);
    transform: translateX(-50%);
  }

  .swiper-button-next {
    left: auto;
    right: calc(50% - 50px);
    transform: translateX(50%);
  }

  .footer__wrapper {
    display: block;
    margin-bottom: 55px;
  }

  .footer__col:not(:last-child) {
    margin-bottom: 40px;
  }

  .footer__logo {
    margin: 0 auto;
  }

  .footer__logo img {
    margin: 0 auto;
    max-width: 240px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 568px) {
  .header__language {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .hero-content {
    padding-bottom: 10px;
  }

  .quest-form {
    background-position: left 80px;
    height: 980px;
    padding-bottom: 80px;
  }

  .quest-form__block {
    width: calc(100% + 30px);
    position: relative;
    padding: 50px 20px 60px;
  }

  .quest-form__title {
    font-size: 24px;
  }
}