@keyframes done {
  from, 70% {
    opacity: 0;
  }

  71%, 90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes cursor {
  from {
    display: block;
    top: 120%;
    left: 60%;
  }

  10%, 30% {
    top: 24.096%;
    left: 27.21%;
    opacity: 1;
  }

  31%, 100% {
    top: 24.096%;
    left: 27.21%;
    opacity: 0;
  }
}

@keyframes krest {
  from, 30% {
    top: 0;
    left: 0;
    opacity: 0;
  }

  31% {
    top: 0;
    left: 0;
    opacity: 1;
  }

  35.1%, 55% {
    top: 100%;
    left: 100%;
    opacity: 1;
  }

  56%, 100% {
    opacity: 0;
  }
}

@keyframes min {
  from, 35% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  45%, 55% {
    border: 1px dashed #FF9390;
    opacity: 1;
    width: 52.244%;
    height: 44.819%;
  }

  55.1%, 80% {
    opacity: 1;
    width: 52.244%;
    height: 44.819%;
    border: none;
  }

  80.1%, 100% {
    opacity: 0;
  }
}

@keyframes dark {
  from, 30% {
    opacity: 0;
  }

  31%, 55% {
    opacity: 1;
  }

  56%, 100% {
    opacity: 0;
  }
}

@keyframes suc {
  from, 55% {
    opacity: 0;
  }

  60%, 70% {
    opacity: 1;
  }

  71% {
    opacity: 0;
  }
}

@keyframes suc-p {
  from, 60% {
    width: 0;
  }

  70% {
    width: 100%;
  }
}

@keyframes mouse {
  from {
    top: 100%;
    left: 70%;
  }

  10%, 35% {
    top: 70%;
    opacity: 1;
  }

  36%, 100% {
    opacity: 0;
  }
}

@keyframes click {
  from, 20% {
    opacity: 0;
  }

  21%, 29% {
    opacity: 1;
  }

  30%, 100% {
    opacity: 0;
  }
}

@keyframes ctrl {
  from, 20% {
    top: 120%;
    opacity: 1;
  }

  21%, 60% {
    top: 85%;
    opacity: 1;
  }

  61%, 100% {
    opacity: 0;
  }
}

@keyframes bg_hr {
  from, 20% {
    opacity: 0;
  }

  21%, 40% {
    opacity: 0.5;
  }

  41%, 100% {
    opacity: 0.5;
  }
}

@keyframes ctrl_click {
  from, 40% {
    opacity: 0;
  }

  41%, 55% {
    opacity: 1;
  }

  56%, 100% {
    opacity: 0;
  }
}

@keyframes min_hr {
  from, 60% {
    width: 0;
    height: 0;
    opacity: 0;
  }

  61%, 89% {
    opacity: 1;
  }

  80%, 100% {
    opacity: 1;
    width: 52.244%;
    height: 44.819%;
  }
}

@keyframes krest2 {
  from, 60% {
    top: 0;
    left: 0;
    opacity: 0;
  }

  61% {
    top: 0;
    left: 0;
    opacity: 1;
  }

  56%, 100% {
    opacity: 0;
  }
}

.hero__image--desktop {
  overflow: hidden;
  width: auto !important;
}

.hero__image--desktop-bg {
  position: relative;
}

.hero__image--desktop-bg-dark {
  animation-name: dark;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.52);
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
}

.hero__image--desktop-bg-min {
  animation-name: min;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: calc(24.096% - 2px);
  left: calc(27.21% - 2px);
  box-sizing: border-box;
  position: absolute;
  z-index: 101;
  overflow: hidden;
}

.hero__image--desktop-bg-min img {
  max-width: none;
}

.hero__image--desktop-bg-min-k {
  overflow: visible;
}

.hero__image--desktop-bg-cursor {
  z-index: 105;
  animation-name: cursor;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  z-index: 102;
}

.hero__image--desktop-bg-krest {
  animation-name: krest;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  z-index: 102;
  transform: translate(-50%, -50%);
}

.hero__image--desktop-bg-mouse {
  z-index: 105;
  animation-name: mouse;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 90%;
}

.hero__image--desktop-bg-mouse-click-left,
.hero__image--desktop-bg-mouse-click-right {
  top: 10px;
  left: 26%;
  position: absolute;
  animation-name: click;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hero__image--desktop-bg-mouse-click-left img,
.hero__image--desktop-bg-mouse-click-right img {
  min-width: 19px;
  min-height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.hero__image--desktop-bg-mouse-click-left .m-click,
.hero__image--desktop-bg-mouse-click-right .m-click {
  min-width: 19px;
  min-height: 19px;
  top: 25px;
}

.hero__image--desktop-bg-mouse-click-right {
  left: 56%;
}

.hero__image--desktop-bg-suc {
  animation-name: suc;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
  padding: 1em;
  position: absolute;
  width: 33%;
  left: 60%;
  bottom: 50px;
  z-index: 110;
  background: #FFFFFF;
  box-shadow: 1px 4px 11px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.hero__image--desktop-bg-suc p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  text-align: center;
}

.hero__image--desktop-bg-suc-con {
  background: #F5F5F5;
  box-shadow: 0px 4px 14px rgba(214, 214, 214, 0.33);
  border-radius: 3px;
  height: 19px;
}

.hero__image--desktop-bg-suc-con-done {
  animation-name: suc-p;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: #7421B0;
  width: 50%;
  height: 19px;
}

.hero__image--desktop-bg-done {
  opacity: 0;
  animation-name: done;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 103;
}

.magical-img {
  position: absolute;
  left: 0%;
  bottom: -80px;
}

.container_animation {
  position: relative;
  overflow: hidden;
}

.container_animation img {
  box-shadow: none;
}

.record__image--desktop-bg {
  position: relative;
  height: 100%;
}

.record__image--desktop-bg img {
  max-width: none;
  height: auto;
  border-radius: 0;
  width: auto;
}

.record__image--desktop-bg-dark {
  background-color: black;
  transition: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: bg_hr;
  opacity: 0;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.record__image--desktop-bg-ctrl {
  transition: 0.3s;
  position: absolute;
  width: 118px;
  height: 50px;
  left: 16%;
  transform: translate(-50%, -50%);
  animation-name: ctrl;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.record__image--desktop-bg-ctrl img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.record__image--desktop-bg-ctrl-green {
  background: rgba(34, 170, 31, 0.3);
  width: 46%;
  height: 67%;
  position: absolute;
  top: 13.5%;
  left: 28.6%;
  animation-name: ctrl_click;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.record__image--desktop-bg-min {
  position: absolute;
  top: calc(24.096% - 2px);
  left: calc(27.21% - 2px);
  border: 1px dashed #FF9390;
  box-sizing: border-box;
  z-index: 101;
  animation-name: min_hr;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow: hidden;
}

.record__image--desktop-bg-min img {
  -o-object-fit: none !important;
  object-fit: none !important;
  height: auto !important;
  max-width: none;
}

#bga-min-img-r {
  -o-object-fit: contain;
  object-fit: contain;
  height: inherit;
  border-radius: 0;
}

.record__image--desktop-bg-krest {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1050;
  transform: translate(50%, 50%);
  position: absolute;
  bottom: 0;
  right: 0;
}

.record__image--desktop-bg-krest img {
  height: 26px !important;
  width: 26px;
  border-radius: 0;
}

.record__image--desktop-bg-min-k {
  overflow: visible !important;
  position: absolute;
}

.record__image {
  max-width: 100%;
}

@media (min-width: 701px) {
  .hero__image--mobile {
    display: none;
  }

  .magical-img {
    left: 50%;
    bottom: -80px;
  }
}

@media (max-width: 787px) {
  #bga-min-r img {
    max-width: 100%;
  }

  .record__image--desktop-bg-min img {
    -o-object-fit: contain !important;
    object-fit: contain !important;
    max-height: none;
  }
}