@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Black.woff") format("woff"), url("../fonts/SFProDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Heavy.woff") format("woff"), url("../fonts/SFProDisplay-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Thin.woff") format("woff"), url("../fonts/SFProDisplay-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Ultralight.woff") format("woff"), url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: #000;
  overflow-x: hidden;
}

body.overlay {
  height: 100vh;
  overflow: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 15px;
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #ff891e;
  background: #ff891e;
  border: none;
  border-radius: 3px;
  display: block;
  transition: all ease 0.3s;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  padding: 11px 25px 9px 25px;
}

.btn:hover {
  background: #fff;
  color: #ff891e;
}

.btn-transparent {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  background: transparent;
  border: none;
  border: 1px solid #2b2b2c;
  border-radius: 3px;
  display: block;
  transition: all ease 0.3s;
  color: #2b2b2c;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  padding: 11px 25px 9px 25px;
}

.btn-transparent:hover {
  background: #2b2b2c;
  color: #fff;
}

.demo {
  background: #c4cdd6;
  height: 100vh;
}

.demo__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: none;
  height: 100vh;
  min-height: 300px;
}

.hero.show {
  display: block;
}

.demo-slider {
  height: 100%;
}

.demo-slider__slide {
  height: 100%;
}

.demo-slider__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.demo-slider__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.demo-slider__content {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 4px;
}

.demo-slider__title {
  font-size: 25px;
  margin-bottom: 10px;
}

.demo-slider__text {
  font-size: 18px;
  margin-bottom: 22px;
}

.demo-slider__all {
  display: none;
}

.demo-slider .swiper-pagination-bullets {
  bottom: 20px;
}

.demo-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000;
  background: transparent;
  opacity: 1;
}

.demo-slider .swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}

.demo-slider .swiper-pagination-bullet-active {
  background: #000;
}

.demo-slider .swiper-button-next,
.demo-slider .swiper-button-prev {
  border-radius: 3px;
  display: none;
  width: 77px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.15);
}

.demo-slider .swiper-button-next:after,
.demo-slider .swiper-button-prev:after {
  position: absolute;
  top: 50%;
  left: calc(50% + 7px);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.demo-slider .swiper-button-prev {
  left: 0;
}

.demo-slider .swiper-button-prev:after {
  left: calc(50% - 7px);
}

.demo-slider .swiper-button-next {
  right: 0;
}

.demo-slider .swiper-button-disabled {
  background: none;
  opacity: 1;
}

.demo-slider {
  position: relative;
}

.demo-slider__previews {
  display: none;
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  z-index: 4;
}

.previews__wrapper {
  display: flex;
  justify-content: space-between;
}

.preview-item {
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  display: flex;
  align-items: flex-start;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.15);
  transition: all ease 0.3s;
}

.preview-item.active {
  background-color: rgba(0, 0, 0, 0.4);
}

.preview-item:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.preview-item:not(:last-child) {
  margin-right: 15px;
}

.preview-item__img {
  max-width: 40px;
  width: 100%;
  margin-right: 7px;
}

.preview-item__img img {
  display: block;
  width: 100%;
  height: auto;
}

.preview-item__content {
  padding-top: 2px;
  color: #fff;
}

.preview-item__text {
  font-size: 10px;
  font-weight: bold;
}

.preview-item__text_small {
  font-size: 9px;
}

@media (min-width: 768px) {
  .hero {
    min-height: 470px;
  }

  .demo-slider__bg img {
    -o-object-position: 36% 0%;
    object-position: 36% 0%;
  }

  .demo-slider__content {
    align-items: flex-start;
    max-width: 500px;
    text-align: left;
    margin-left: auto;
    margin-right: 85px;
    padding-bottom: 45px;
  }

  .demo-slider__title {
    font-size: 35px;
    margin-bottom: 13px;
  }

  .demo-slider__text {
    font-size: 22px;
    text-align: left;
    margin-bottom: 20px;
  }

  .demo-slider__btns {
    display: flex;
  }

  .demo-slider__more-info {
    margin-right: 20px;
  }

  .demo-slider__all {
    display: block;
  }

  .demo-slider .swiper-pagination {
    display: none;
  }

  .demo-slider .swiper-button-next,
  .demo-slider .swiper-button-prev {
    display: block;
  }

  .demo-slider__previews {
    display: block;
    max-width: 970px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .btn {
    font-size: 16px;
    padding: 14px 29px 11px 30px;
  }

  .btn-transparent {
    font-size: 16px;
    padding: 14px 29px 11px 30px;
  }

  .demo-slider__content {
    margin-right: 59px;
    max-width: 595px;
    padding-bottom: 3px;
  }

  .demo-slider__title {
    font-size: 42px;
    margin-bottom: 13px;
  }

  .demo-slider__text {
    font-size: 26px;
    margin-bottom: 25px;
  }

  .demo-slider__previews {
    display: block;
    max-width: 100%;
    bottom: 20px;
  }

  .preview-item:not(:last-child) {
    margin-right: 20px;
  }

  .preview-item__img {
    max-width: 48px;
    margin-right: 10px;
  }

  .preview-item__text {
    font-size: 12px;
  }

  .preview-item__text_small {
    font-size: 11px;
    margin-bottom: 1px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .preview-item {
    align-items: center;
  }
}