@import url("fonts.css");
@import url("reset.css");
/* @import url("media.css"); */
*{
	box-sizing: border-box;
}
body{
	background-color: #000;
	color: #fff;
	font-family: MyriadPro;
	
}
.page{
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding: 0 25px;
}
header{
	background-image:  url("../img/header_bg.png");
	background-repeat: no-repeat;
	background-position: 85% 100%;
	height: 245px;
	position: relative;
}
header h1{
	font-size: 72px;
	font-family: helvetic;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
header span{
	color: #b38510;
}
.menu{
	
}
.menu nav ul{
	display: flex;
	justify-content: space-between;
}
.menu nav ul a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 24px;
	transition: .5s linear;
	-webkit-transition: .5s linear;
	-moz-transition: .5s linear;
	-ms-transition: .5s linear;
	-o-transition: .5s linear;
}
.menu nav ul a:hover{
	color: #b38510;
	border-bottom: 1px solid #b38510;
}
.about{
	width: 100%;
	height: 485px;
}
.about .container{
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

.about .wrap{
	display: flex;
	justify-content: space-between;
}
.about .about_left .about_left_photo img{
	width: 100%;
}
.about .about_left{
	width: 60.5%;
	/* position: relative; */
}
.about .about_right{
	width: 39.5%;
}
.about .about_right{
	font-family: MyriadPro;
	font-size: 22px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 20px;
	line-height: 32px;
}
.about .about_right h2{
	color: #b38510;
	font-size: 30px;
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 40px;
	
}
.about .about_right span{
	color: #b38510;
}
.services{
	position: relative;
	margin-top: 65px;
}
.services .container{
	max-width: 1230px;
	width: 100%;
}
.services .container h2{
	text-align: center;
	font-size: 30px;
	color: #b38510;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.services .container .services_table{
	display: flex;
	width: 90%;
	margin: 0 auto;
	/* height: 320px; */
	border-top: 1px solid #fff;
}
.services .container .services_table .table_item{
	padding-top: 35px;
	width: 33.333333%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	border-right: 1px solid #b38510;
	margin-top: 15px;
}
.services .container .services_table .table_item:nth-child(3){
	border: none;
}

.services .container .services_table .table_item p{
	display: block;
	text-align: center;
	font-size: 30px;
	font-family: helvetic;
	line-height: 42px;
}

.services .square{
	width: 125px;
	height: 125px;
	background-color: #333333;
	position: absolute;
	z-index: -2;
	top: 15px;
	left: 0;
}
.services .triangle_small{
	border-top: 70px solid #fff;
	border-right: 70px solid transparent;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 135px;
}
.services .triangle_large{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 145px 275px;
	border-color: transparent transparent #333 transparent;
	position: absolute;
	z-index: -3;
	bottom: 0;
	right: 0;
}
.myWorks{
	margin-top: 50px;
}
.myWorks .container{
	max-width: 1090px;
	width: 100%;
	margin: 0 auto;
}
.myWorks .container .myWorks_videos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.myWorks .container .myWorks_videos .myWorks_videos_item{
	margin-bottom: 20px;
	position: relative;
}
.myWorks .container .myWorks_videos .myWorks_videos_item img{
	display: block;
}


.myWorks .container .myWorks_videos .myWorks_videos_item .play{
	display: block;
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	display: none;
	cursor: pointer;
	
}

.myWorks .container .myWorks_videos .myWorks_videos_item:hover .play{
	display: block;
}
.play{
	transition: 1s ease all !important;
	-webkit-transition: 1s ease all !important;
	-moz-transition: 1s ease all !important;
	-ms-transition: 1s ease all !important;
	-o-transition: 1s ease all !important;
}
.play:hover{
	transform: translate(-50%, -50%) scale(1.5) !important;
	-webkit-transform: translate(-50%, -50%) scale(1.5) !important;
	-moz-transform: translate(-50%, -50%) scale(1.5) !important;
	-ms-transform: translate(-50%, -50%) scale(1.5) !important;
	-o-transform: translate(-50%, -50%) scale(1.5) !important;
}



.moreWorks{
	margin-top: 30px;
	margin-bottom: 30px;
}
.moreWorks .container{
	max-width: 1090px;
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align: center;
}
.moreWorks .container h2{
	text-transform: uppercase;
	font-size: 24px;
	font-family: helvetic;
	padding-top: 20px;
	margin-bottom: 100px;
}
.moreWorks .container a{
	font-size: 24px;
	text-transform: uppercase;
	color: #b38510;
	text-decoration: none;
	font-family: helvetic;
	
}
.moreWorks .container .reviev{
	display: inline-block;
	margin-bottom: 35px;
}
.real_reviev{
	margin-bottom: 170px;
}
.real_reviev .container{
	max-width: 1090px;
	width: 100%;
	margin: 0 auto;
	
}
.real_reviev .container .slider{
	display: flex;
	justify-content: space-around;
}
.real_reviev .container .reviev_item{
	text-align: center;
	font-family: monster;
	font-size: 11px;
	line-height: 15px;
	width: 25%;
	outline: none;
}
.real_reviev .container .reviev_item img{
	display: block;
	margin: 0 auto;
}
.real_reviev .container .reviev_item p{
	margin-top: 30px;
}
.more_reviev h4{
	text-align: center;
	font-size: 24px;
	font-family: helvetic;
	text-transform: uppercase;
	margin-bottom: 80px;
}
.more_reviev span{
	color: #b38510;
	cursor: pointer;
}
.contacts .container{
	max-width: 1090px;
	width: 100%;
	margin: 0 auto;
}	
.contacts .wrap{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.contacts .feedback{
	max-width: 690px;
	width: 100%;
}
.contacts .feedback form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contacts .feedback input{
	height: 50px;
	width: 330px;
	background-color: #000;
	border: 1px solid #fff;
	margin-bottom: 30px;
	font-size: 18px;
	color:#fff;
	text-align: center;
}
.contacts .feedback input:focus{
	border: 1px solid #b38510;
}
.contacts .feedback input::placeholder{
	text-align: center;
	color: #fff;
	font-family: MyriadPro;
}
.contacts .feedback input[type=email]{
	width: 690px;
	color:#fff;
}
.contacts .feedback input:focus::placeholder{
	color: transparent;
}
.contacts .feedback textarea{
	width: 690px;
	height: 370px;
	resize: none;
	background-color: #000;
	border: 1px solid #fff;
	font-size: 18px;
	margin-bottom: 30px;
	color:#fff;
	outline: none;
	padding-top: 10px;
	padding-left: 15px;
}
.contacts .feedback textarea:focus{
	border: 1px solid #b38510;
}
.contacts .feedback textarea:focus::placeholder{
	color: transparent;
}
.contacts .feedback textarea::placeholder{
	font-size: 18px;
	font-family: MyriadPro;
	color: #fff;
	
	
}
.contacts .feedback button{
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	padding: 15px 25px;
	font-family: helvetic;
	cursor: pointer;
}
.contacts .feedback button:hover{
	color: #b38510;
	border: 1px solid #b38510;
}
.contacts .feedback h4{
	color: #b38510;
	font-size: 30px;
	margin-left: 20px;
	margin-bottom: 50px;
}
.contacts .contacts_number h4{
	color: #b38510;
	font-size: 30px;
	margin-bottom: 50px;
}
.contacts .contacts_number > div{
	display: flex;	
	margin-bottom: 15px;
	align-items: center;
}
.contacts .contacts_number > div a{
	color: #fff;
	text-decoration: none;
}
.contacts .contacts_number > div a:hover{
	color: #b38510;
}
.contacts .contacts_number > div img{
	margin-right: 25px;
}
.contacts .contacts_number .link p{
	margin-bottom: 10px;
}
.contacts{
	margin-bottom: 210px;
}
.btn_up a{
	color: #b38510;
	text-decoration: none;
	display: block;
	position: relative;
	top: 15px;

}
.btn_up{
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-align: center;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: rgba(133, 102, 102, 0.459);
}



