.animate {
  transition: all ease 0.3s;
  transition: font-size 0s;
}

.animate[data-effect=fade-top].element-show {
  animation: fade-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate[data-effect=opacity] {
  opacity: 0;
}

.animate[data-effect=opacity].element-show {
  animation: opacity-in 1.2s ease-in-out both;
}

.animate[data-effect=forwad-slide].element-show {
  animation: forwad-slide 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate[data-effect=fade-down] {
  opacity: 0;
  transform: rotate(3deg);
}

.animate[data-effect=fade-down].element-show {
  animation: fade-down 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate[data-effect=fade-down-2] {
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}

.animate[data-effect=fade-down-2].element-show {
  animation: fade-down-2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate[data-effect=fade-down-3] {
  opacity: 0;
}

.animate[data-effect=fade-down-3].element-show {
  animation: fade-down-3 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate[data-effect=fade-in] {
  opacity: 0;
}

.animate[data-effect=fade-in].element-show {
  animation: fade-in 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate[data-effect=bounce-top].element-show {
  animation: bounce-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate[data-effect=puff].element-show {
  animation: puff 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.animate[data-effect=on-screen].element-show {
  animation: on-screen 1.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.animate[data-effect=swing-right].element-show {
  animation: swing-right 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.animate[data-effect=fade-rotate] {
  display: block;
  opacity: 0;
  transform: translateY(40px) rotateX(-45deg);
  transition: opacity 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 0.2s;
}

.animate[data-effect=fade-rotate].element-show {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.animate[data-effect=rotate-x] {
  display: block;
  opacity: 0;
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(-80deg);
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.animate[data-effect=rotate-x] span {
  display: inline-block;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.animate[data-effect=rotate-x].element-show {
  transform: none;
  opacity: 1;
  transition-duration: 2s;
}

.animate[data-effect=line] {
  overflow: hidden;
  position: relative;
}

.animate[data-effect=line] > * {
  transition: all ease 0.3s;
  position: relative;
  display: block;
  transform: translateY(150%);
}

.animate[data-effect=line].element-show > * {
  animation: line-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

[data-effect=slide-top].element-show {
  animation: slide-top 0.8s cubic-bezier(0.69, 0, 0.29, 1) both;
}

.animate-text {
  opacity: 1;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

.animate-text .word {
  transform: translateY(100%);
  opacity: 0;
}

.animate-text .word .letter {
  opacity: 1;
}

.animate-text .word.showWord {
  opacity: 1;
  animation: line-top 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.flip {
  display: block;
  opacity: 0;
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(-80deg);
  transition: opacity 1.5s 0.2s cubic-bezier(0.22, 0.61, 0.36, 1), transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.flip.element-show {
  opacity: 1;
  transform: none;
}

@keyframes flip {
  0% {
    opacity: 0;
    transform: translateY(100%) rotateX(-80deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0%) rotateX(0deg);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.letter {
  opacity: 0;
}

.letter.showLetter {
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.title-line {
  display: block;
  transition: transform cubic-bezier(0.23, 0.32, 1) 1s;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  height: fit-content;
}

.title-line * {
  display: inline-block;
  transition: all ease 1s;
}

.title-line .word {
  position: relative;
  transition: opacity ease-in 1.7s;
}

.title-line .word.showWord {
  transform-origin: center;
  animation: spanUp 1s cubic-bezier(0.56, 0.15, 0.41, 0.87) forwards;
}

@keyframes spanUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-down-2 {
  0% {
    transform: translateY(50px) rotate(3deg);
    opacity: 0;
  }

  100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }
}

@keyframes fade-down-3 {
  0% {
    transform: translateY(100%) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    transform: translateZ(-80%);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    transform: translateZ(-1400px) translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes fade-top {
  0% {
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotate-x {
  0% {
    transform: translateY(100%) rotateX(-80deg);
    opacity: 0;
  }

  100% {
    transform: none;
  }
}

@keyframes bounce-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }

  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

@keyframes puff {
  0% {
    transform: scale(2);
    transform-origin: 50% 100%;
    filter: blur(4px);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes forwad-slide {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes line-top {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes on-screen {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  10.1% {
    opacity: 1;
  }

  10.2% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  20.1% {
    opacity: 1;
  }

  20.6% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  30.1% {
    opacity: 1;
  }

  30.5% {
    opacity: 1;
  }

  30.6% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  45.1% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  55.1% {
    opacity: 0;
  }

  57% {
    opacity: 0;
  }

  57.1% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  60.1% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  65.1% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  75.1% {
    opacity: 0;
  }

  77% {
    opacity: 0;
  }

  77.1% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  85.1% {
    opacity: 0;
  }

  86% {
    opacity: 0;
  }

  86.1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

:root {
  --color-main: #0003FF;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  font-size: inherit;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: inherit;
}

body {
  font-family: "Manrope", sans-serif;
  background: #000;
  color: #fff;
  font-weight: 400;
  font-size: 1.04vw;
  line-height: 1.2;
  overflow-x: hidden;
}

body.overlay {
  height: 100vh;
  overflow: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-screen {
  position: relative;
  z-index: 7;
}

.container {
  padding: 0 1.45vw 0 1.45vw;
  width: 100vw;
  margin: 0 auto;
  height: 100%;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  display: block;
  min-width: 7.3vw;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--color-main);
  color: #ECECEC;
  text-align: center;
  border-radius: 38px;
  font-size: 0.73vw;
  padding: 1vw 1vw 1.1vw 1vw;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.btn span {
  position: relative;
  z-index: 2;
}

.btn:hover {
  background-color: #0205bd;
}

.btn_app {
  text-align: left;
  padding: 0.42vw 0.3vw 0.1vw 1vw;
  background-color: #fff;
  color: #000;
  border-radius: 0.52vw;
  min-width: 7.3vw;
  transition: background-color ease 0.3s;
}

.btn_app:hover {
  background-color: rgb(197, 197, 197);
}

.btn_app img {
  display: block;
  width: 6.56vw;
  height: auto;
}

.btn_app img.AppStore {
  width: 5.63vw;
}

.animate-text div {
  display: inline-block;
}

.main-screen {
  position: relative;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.92vw 0 0.85vw;
  font-size: 0.63vw;
  line-height: 1.8;
  font-weight: 500;
  width: 100%;
  letter-spacing: 1px;
  z-index: 2;
  color: #ECECEC;
  text-transform: uppercase;
  transition: opacity 0.1s;
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0.87, 0, 0.13, 1);
}

.header.element-show {
  opacity: 1;
}

.header.hide {
  transform: translateY(-100%);
  transition: transform 0.8s cubic-bezier(0.87, 0, 0.13, 1);
}

.header__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__left {
  margin-right: 2.08vw;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.header__lang {
  display: flex;
  text-transform: uppercase;
  font-size: 0.63vw;
  line-height: 2.1em;
}

.header__logo {
  margin-right: 3.7vw;
  width: 5.21vw;
}

.header__logo img {
  display: block;
  width: 100%;
  height: auto;
}

.header__nav {
  position: relative;
  margin-right: 0.9vw;
  left: 10.9vw;
}

.header__list {
  display: flex;
}

.header__list-elem:not(:last-child) {
  margin-right: 3.2vw;
}

.header__list-elem:first-child {
  margin-right: 8vw;
}

.header__link {
  position: relative;
}

.header__link::after {
  content: "";
  left: 50%;
  bottom: 0vw;
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
  background: #fff;
  transform: scaleX(0) translateX(-50%);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.header__link:hover {
  color: rgb(197, 197, 197);
}

.header__link:hover::after {
  transform: scaleX(1) translateX(-50%);
}

.header__link_narrow {
  letter-spacing: 0.01vw;
}

.header__link_roadmap {
  margin-right: 9.2vw;
}

.header__right {
  display: flex;
}

.dropdown__header {
  position: relative;
  padding-right: 0.8vw;
}

.dropdown__header::after {
  content: "";
  display: block;
  width: 0.57vw;
  height: 0.31vw;
  background-image: url(../img/icons/arrow_small.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.hero {
  height: 100vh;
  position: relative;
  padding: 4.3vw 0 10vw;
}

.hero__wrapper {
  height: 100%;
  position: relative;
}

.hero__title {
  text-align: center;
  position: relative;
  white-space: nowrap;
  font-size: 12.5vw;
  letter-spacing: -0.5vw;
  font-weight: 400;
  overflow: visible;
  margin-bottom: 2.92vw;
  left: -0.067em;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  perspective: 600px;
}

.hero__text {
  text-transform: uppercase;
  font-size: 0.73vw;
  letter-spacing: 0.07em;
  line-height: 1.7;
}

.fixed-btns {
  position: fixed;
  bottom: 2.1vw;
  left: 0;
  right: 0;
  z-index: 9;
  pointer-events: none;
}

.fixed-btns__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.fixed-btns__left {
  display: flex;
  pointer-events: auto;
}

.fixed-btns__app {
  font-weight: bold;
  min-width: 7.8vw;
}

.fixed-btns__app:not(:last-child) {
  margin-right: 0.4vw;
}

.fixed-btns__right {
  pointer-events: auto;
}

.description-reality {
  position: relative;
  margin-top: -130vh;
  padding-bottom: 100vh;
}

.description-reality__content {
  width: 100%;
  z-index: 2;
  height: 100vh;
  position: sticky;
  z-index: 5;
  top: 0;
}

.description-reality__inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-reality__text {
  margin: 0 auto;
  max-width: 41vw;
  width: 100%;
  font-weight: 600;
  font-size: 1.04vw;
  line-height: 1.56em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.description-reality__text p:not(:last-child) {
  margin-bottom: 1.71vw;
}

.description-reality__gradient img {
  display: block;
  width: 100%;
  height: auto;
}

.bordered-text {
  padding: 0px 0.5em;
  text-transform: uppercase;
  border: 0.1em solid #000000;
  border-radius: 15px;
}

.adventure {
  padding: 7.81vw 0 7.81vw;
  position: relative;
  margin-top: -100vh;
  z-index: 5;
}

.adventure__content {
  max-width: 58vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 13.3vw;
}

.adventure__title {
  line-height: 0.85;
  font-size: 9.2vw;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.adventure__title > * {
  min-width: 100%;
}

.adventure__title-row {
  display: block;
  perspective: 600px;
}

.adventure__title-row_1 {
  padding-left: 6.2vw;
}

.adventure__title-row_2 {
  padding-left: 15.9vw;
  transition-delay: 0.2s;
}

.adventure__title-row_3 {
  transition-delay: 0.4s;
}

.adventure__text {
  text-transform: uppercase;
  max-width: 12.5vw;
  right: -2.97vw;
  bottom: -2.03vw;
  font-size: 0.94vw;
  position: absolute;
  line-height: 1.6;
}

.adventure__slider {
  position: relative;
}

.adventure__slider-phone {
  max-width: 31.77vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
  left: 3.2vw;
  position: relative;
  z-index: 2;
}

.adventure__phone-img {
  width: 31.77vw;
  position: relative;
  z-index: 2;
}

.adventure__phone-img img {
  display: block;
  width: 100%;
  height: auto;
}

.adventure__phone {
  max-width: 17.19vw;
  width: 100%;
  position: absolute;
  top: 0.89vw;
  left: 50%;
  transform: translateX(-70%);
}

.adventure__phone-slide {
  transition-duration: 1s;
}

.adventure__phone-slide img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
}

.cards-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 5;
}

.cards-slider__slider {
  max-width: 29.95vw;
  width: 100%;
  padding-bottom: 13.8vw;
}

.cards-slider__slide {
  background: #121214;
  border-radius: 2.71vw;
  max-width: 20.21vw;
  width: 100%;
  min-height: 14.64vw;
  padding: 2.29vw 3.13vw 2.29vw 3.13vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  transition: right ease 0.5s;
}

.cards-slider__slide.swiper-slide-next .cards-slider__descr {
  color: #464646;
}

.cards-slider__slide.swiper-slide-prev .cards-slider__descr {
  color: #464646;
}

.cards-slider__descr {
  font-size: 1.3vw;
  line-height: 1.4;
  transition: all ease 0.2s;
}

.cards-slider__num {
  font-size: 0.94vw;
}

.cards-slider__btn {
  top: auto;
  left: 0;
  bottom: 2.34vw;
  opacity: 1;
  border: 0.05vw solid #FFFFFF;
  background: none;
  opacity: 1;
  border-radius: 1.98vw;
  max-width: 6.61vw;
  width: 100%;
  height: 3.91vw;
  z-index: 3;
}

.cards-slider__btn img {
  width: 1.56vw;
  height: 0.99vw;
}

.cards-slider__btn:hover {
  background: var(--color-main);
  border: 1px solid var(--color-main);
}

.cards-slider__btn_next {
  transform: translateX(calc(100% + 0.52vw));
}

.cards-slider__btn_next img {
  transform: rotate(180deg);
}

.cards-slider__btn::after {
  display: none;
}

@media (min-width: 1921px) {
  .adventure__text {
    font-size: 1vw;
    bottom: -3.5vw;
    right: -1vw;
    font-size: 1vw;
    max-width: 11vw;
    letter-spacing: 0.04em;
  }
}