:root {
  --color-main: #0003FF;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  font-size: inherit;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: inherit;
}

body {
  font-family: "Manrope", sans-serif;
  background: #000;
  color: #fff;
  font-weight: 400;
  font-size: 1.04vw;
  line-height: 1.2;
  overflow-x: hidden;
}

body.overlay {
  height: 100vh;
  overflow: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-screen {
  position: relative;
  z-index: 7;
}

.container {
  padding: 0 2.08vw 0 2.66vw;
  width: 100vw;
  margin: 0 auto;
  height: 100%;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  display: block;
  min-width: 7.3vw;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--color-main);
  color: #ECECEC;
  text-align: center;
  border-radius: 38px;
  font-size: 0.85vw;
  padding: 1vw 1vw 1.1vw 1vw;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: all ease 0.2s;
  white-space: nowrap;
}

.btn span {
  position: relative;
  z-index: 2;
}

.btn::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: all ease 0.2s;
  height: 100%;
  width: 100%;
}

.btn:hover {
  color: #000;
}

.btn:hover::after {
  top: 0;
}

.btn_white {
  background: #fff;
  color: #000;
}

.btn_white::after {
  background: var(--color-main);
}

.btn_white:hover {
  color: #fff;
}

.animate-text div {
  display: inline-block;
}

.animate-letters * {
  display: inline-block;
}

.animate {
  transition: all ease 0.3s;
  transition: font-size 0s;
}

.animate[data-effect=fade-top].element-show {
  animation: fade-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate[data-effect=forwad-slide].element-show {
  animation: forwad-slide 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate[data-effect=fade-down].element-show {
  animation: fade-down 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate[data-effect=bounce-top].element-show {
  animation: bounce-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate[data-effect=puff].element-show {
  animation: puff 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.animate[data-effect=on-screen].element-show {
  animation: on-screen 1.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.animate[data-effect=swing-right].element-show {
  animation: swing-right 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.animate[data-effect=rotate-x] {
  display: block;
  opacity: 0.4;
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(-80deg);
  line-height: 1;
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.animate[data-effect=rotate-x].element-show {
  transform: none;
  opacity: 1;
  transition-duration: 2s;
}

.animate[data-effect=line] {
  overflow: hidden;
  position: relative;
}

.animate[data-effect=line] > * {
  position: relative;
  display: block;
}

.animate[data-effect=line].element-show > * {
  animation: line-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate-text {
  opacity: 0;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

.animate-text.showText {
  opacity: 1;
  animation: tracking-in-expand-fwd-bottom 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.letter {
  opacity: 0;
}

.letter.showLetter {
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    transform: translateZ(-1400px) translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes fade-top {
  0% {
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotate-x {
  0% {
    transform: translateY(100%) rotateX(-80deg);
    opacity: 0;
  }

  100% {
    transform: none;
  }
}

@keyframes bounce-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }

  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

@keyframes puff {
  0% {
    transform: scale(2);
    transform-origin: 50% 100%;
    filter: blur(4px);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes forwad-slide {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes line-top {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes on-screen {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  10.1% {
    opacity: 1;
  }

  10.2% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  20.1% {
    opacity: 1;
  }

  20.6% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  30.1% {
    opacity: 1;
  }

  30.5% {
    opacity: 1;
  }

  30.6% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  45.1% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  55.1% {
    opacity: 0;
  }

  57% {
    opacity: 0;
  }

  57.1% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  60.1% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  65.1% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  75.1% {
    opacity: 0;
  }

  77% {
    opacity: 0;
  }

  77.1% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  85.1% {
    opacity: 0;
  }

  86% {
    opacity: 0;
  }

  86.1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.main-screen {
  position: relative;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px 0 20px;
  font-size: 0.75vw;
  line-height: 1.8;
  font-weight: 500;
  width: 100%;
  letter-spacing: 1px;
  z-index: 2;
  color: #ECECEC;
  text-transform: uppercase;
  transition: opacity 0.1s;
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0.87, 0, 0.13, 1);
}

.header.element-show {
  opacity: 1;
}

.header.hide {
  transform: translateY(-100%);
  transition: transform 0.8s cubic-bezier(0.87, 0, 0.13, 1);
}

.header__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__left {
  margin-right: 1.04vw;
  display: flex;
  align-items: flex-start;
}

.header__logo {
  margin-right: 3.7vw;
  width: 5.21vw;
}

.header__logo img {
  display: block;
  width: 100%;
  height: auto;
}

.header__text {
  letter-spacing: 0.04em;
}

.header__nav {
  margin-right: 0.9vw;
}

.header__list {
  display: flex;
}

.header__list-elem:not(:last-child) {
  margin-right: 2.5vw;
}

.header__list-elem:first-child {
  margin-right: 8vw;
}

.header__link {
  position: relative;
}

.header__link::after {
  content: "";
  left: 50%;
  bottom: -0.16vw;
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
  background: #fff;
  transform: scaleX(0) translateX(-50%);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.header__link:hover::after {
  transform: scaleX(1) translateX(-50%);
}

.header__link_narrow {
  letter-spacing: 0.01vw;
}

.header__link_roadmap {
  margin-right: 8vw;
}

.header__right {
  display: flex;
}

.dropdown__header {
  position: relative;
  padding-right: 0.8vw;
}

.dropdown__header::after {
  content: "";
  display: block;
  width: 0.57vw;
  height: 0.31vw;
  background-image: url(../img/icons/arrow_small.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.hero {
  height: 100vh;
  position: relative;
  padding: 6vw 0 10vw;
}

.hero__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero__title {
  position: relative;
  white-space: nowrap;
  font-size: 12.1vw;
  letter-spacing: -0.4vw;
  font-weight: 400;
  line-height: 1;
}

.hero__title > span {
  background: linear-gradient(150deg, rgb(212, 201, 193) 0%, rgb(65, 67, 69) 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  position: relative;
  left: -0.04em;
  width: -moz-fit-content;
  width: fit-content;
}

.fixed-btns {
  position: fixed;
  bottom: 1.5vw;
  left: 0;
  right: 0;
  z-index: 9;
  pointer-events: none;
}

.fixed-btns__wrapper {
  display: flex;
  justify-content: space-between;
}

.fixed-btns__left {
  display: flex;
  pointer-events: auto;
}

.fixed-btns__app {
  font-weight: bold;
  min-width: 7.8vw;
}

.fixed-btns__app:not(:last-child) {
  margin-right: 0.4vw;
}

.fixed-btns__right {
  pointer-events: auto;
}

.description-reality {
  position: relative;
  margin-top: -100vh;
  padding-bottom: 100vh;
}

.description-reality__content {
  width: 100%;
  z-index: 2;
  height: 100vh;
  position: sticky;
  z-index: 5;
  top: 0;
}

.description-reality__inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-reality__text {
  margin: 0 auto;
  max-width: 40.1vw;
  width: 100%;
  font-weight: 600;
  line-height: 1.56em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.description-reality__text p:not(:last-child) {
  margin-bottom: 1.71vw;
}

.description-reality__gradient img {
  display: block;
  width: 100%;
  height: auto;
}

.bordered-text {
  padding: 0px 0.5em;
  text-transform: uppercase;
  border: 0.1em solid #000000;
  border-radius: 15px;
}

.adventure {
  padding: 7.81vw 0 7.81vw;
  position: relative;
  margin-top: -100vh;
  z-index: 5;
}

.adventure__content {
  max-width: 58vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 13.3vw;
}

.adventure__title {
  line-height: 0.85;
  font-size: 9.2vw;
  background: linear-gradient(150deg, rgb(212, 201, 193) 0%, rgb(65, 67, 69) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.adventure__title * {
  min-width: 100%;
}

.adventure__title-row {
  display: block;
}

.adventure__title-row_1 {
  padding-left: 6.2vw;
}

.adventure__title-row_2 {
  padding-left: 15.9vw;
}

.adventure__text {
  text-transform: uppercase;
  max-width: 10.42vw;
  right: -0.52vw;
  bottom: -3.75vw;
  position: absolute;
  line-height: 1.6;
}

.adventure__slider {
  position: relative;
}

.adventure__slider-phone {
  max-width: 31.77vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
  left: 3.2vw;
  position: relative;
  z-index: 2;
}

.adventure__phone-img {
  width: 31.77vw;
  position: relative;
  z-index: 2;
}

.adventure__phone-img img {
  display: block;
  width: 100%;
  height: auto;
}

.adventure__phone {
  max-width: 17.19vw;
  width: 100%;
  position: absolute;
  top: 0.89vw;
  left: 50%;
  transform: translateX(-70%);
}

.adventure__phone-slide {
  transition-duration: 1s;
}

.adventure__phone-slide img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
}

.cards-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 5;
}

.cards-slider__slider {
  max-width: 29.95vw;
  width: 100%;
  padding-bottom: 13.8vw;
}

.cards-slider__slide {
  background: #121214;
  border-radius: 2.71vw;
  max-width: 20.21vw;
  width: 100%;
  min-height: 14.64vw;
  padding: 2.29vw 3.13vw 2.29vw 3.13vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
}

.cards-slider__slide.swiper-slide-next .cards-slider__descr {
  color: #464646;
}

.cards-slider__slide.swiper-slide-prev .cards-slider__descr {
  color: #464646;
}

.cards-slider__descr {
  font-size: 1.3vw;
  line-height: 1.4;
  transition: all ease 0.2s;
}

.cards-slider__num {
  font-size: 0.94vw;
}

.cards-slider__btn {
  top: auto;
  left: 0;
  bottom: 2.34vw;
  opacity: 1;
  border: 0.05vw solid #FFFFFF;
  background: none;
  opacity: 1;
  border-radius: 1.98vw;
  max-width: 6.61vw;
  width: 100%;
  height: 3.91vw;
  z-index: 3;
}

.cards-slider__btn img {
  width: 1.56vw;
  height: 0.99vw;
}

.cards-slider__btn:hover {
  background: var(--color-main);
  border: 1px solid var(--color-main);
}

.cards-slider__btn_next {
  transform: translateX(calc(100% + 0.52vw));
}

.cards-slider__btn_next img {
  transform: rotate(180deg);
}

.cards-slider__btn::after {
  display: none;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: var(--color-main);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%, 100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

@media (min-width: 1921px) {
  .adventure__text {
    font-size: 1vw;
    bottom: -3.5vw;
    right: -1vw;
    font-size: 1vw;
    max-width: 11vw;
    letter-spacing: 0.04em;
  }
}