.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: rgba(0, 0, 0, .5);
}

.hero {
  /*height: 320px;
  /*margin-top: 0px;*/
  /*padding-top: 30%;*/
  /*background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/11111111.jpg');*/
  /*background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/11111111.jpg');*/
  /*background-position: 0px 0px, 50% 50%;*/
  /*background-size: auto, cover;*/
  /*background-repeat: repeat, no-repeat;*/
  /*color: #fff;*/
  /*font-size: 14px;*/
  /*text-align: center;*/
  /*text-shadow: 1px 1px 6px #000;*/
}

.hero.outdoor {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/outdoor.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/outdoor.jpg');
}

.hero.production {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/prod.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/prod.jpg');
}

.hero.media {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/kaboompics.com_Man-reading-newspaper1.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/kaboompics.com_Man-reading-newspaper1.jpg');
}

.hero.ampaign {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/tumblr_nqx8hsjuCl1tubinno1_1280.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/tumblr_nqx8hsjuCl1tubinno1_1280.jpg');
}

.hero.site {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/web.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/web.jpg');
}

.hero.smm {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/Background_Hero.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/Background_Hero.jpg');
}

.hero.design {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/designer.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/designer.jpg');
}

.hero.btl {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/btl.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/btl.jpg');
}

.hero.franchise {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/Eggs-in-the-Metal-Basket.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/Eggs-in-the-Metal-Basket.jpg');
}

.hero.pr {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/pr.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/pr.jpg');
}

.hero.contact {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/contact.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/contact.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.hero.about {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/wii.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/wii.jpg');
  background-size: auto, cover;
}

.body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.logo {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.logo.footer {
  width: 376px;
  height: 25px;
  margin-top: 0px;
}

.nav-link {
  padding-left: 25px;
  direction: ltr;
  color: #fff;
  text-transform: lowercase;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:active {
  color: #fff;
}

.nav-link:focus {
  color: #fff;
}

.nav-link.w--current:active {
  color: #fff;
}

.nav-link.w--current:focus {
  color: #fff;
}

.icon {
  color: #fff;
}

.text {
  display: block;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}

.text.c {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: center;
}

.text.c.f {
  margin-bottom: 25px;
}

.menu-button {
  background-color: transparent;
}

.menu-button.w--open {
  background-color: transparent;
}

.nav-menu {
  background-color: rgba(0, 0, 0, .5);
}

.box {
  padding: 50px 100px;
  background-color: #fff;
  color: #727272;
  text-align: center;
}

.box-service {
  height: 300px;
  padding: 25px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/11111111.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/11111111.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  color: #fff;
  text-shadow: 1px 1px 6px #000;
}

.box-service:hover {
  border: 10px solid #fff;
}

.box-service._1 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/outdoor.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/outdoor.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.box-service._2 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/prod.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/prod.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.box-service._3 {
  background-image: url('../images/kaboompics.com_Man-reading-newspaper1.jpg'), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/11111111.jpg');
  background-image: url('../images/kaboompics.com_Man-reading-newspaper1.jpg'), linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/11111111.jpg');
  background-position: 50% 50%, 0px 0px, 50% 50%;
  background-size: cover, auto, cover;
  background-repeat: no-repeat, repeat, no-repeat;
}

.box-service._4 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/tumblr_nqx8hsjuCl1tubinno1_1280.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/tumblr_nqx8hsjuCl1tubinno1_1280.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.box-service._5 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/web.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/web.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.box-service._6 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/Background_Hero.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/Background_Hero.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.box-service._7 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/designer.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/designer.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.box-service._8 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/btl.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/btl.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.box-service._9 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/Eggs-in-the-Metal-Basket.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/Eggs-in-the-Metal-Basket.jpg');
  background-size: auto, cover;
}

.box-service._10 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/pr.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/pr.jpg');
  background-size: auto, cover;
}

.title {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.title.form-label {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.box-footer {
  padding: 25px 100px;
  background-color: #616161;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-transform: none;
}

.link-box {
  position: static;
  left: 25px;
  bottom: 25px;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.client-logo {
  width: 90px;
  height: 90px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.client-logo:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.div-text {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.box-form {
  display: block;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 25px 25px;
  text-align: center;
}

.success-maggage {
  background-color: transparent;
}

.error {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  background-color: transparent;
  color: #ff2424;
}

.link {
  color: #fff;
}

.link.black {
  color: #727272;
}

.button {
  margin-top: 15px;
  background-color: #727272;
}

.arrow {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 25px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.arrow.up {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.list {
  display: block;
  max-width: 960px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.box-contact {
  text-align: left;
}

@media (max-width: 991px) {
  .text {
    text-align: justify;
  }
  .box {
    padding-right: 50px;
    padding-left: 50px;
  }
  .box-footer {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  .hero {
    padding-top: 20%;
  }
  .text {
    width: 100%;
    text-align: justify;
  }
  .box-footer {
    text-align: center;
  }
  .brand {
    padding-left: 0px;
  }
}

@media (max-width: 479px) {
  .hero {
    padding-top: 50%;
  }
  .box {
    padding: 25px;
  }
  .box-service._1 {
    padding-top: 160px;
  }
  .box-service._4 {
    padding-top: 160px;
  }
  .box-footer {
    padding: 25px;
  }
}

