@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Black.woff") format("woff"), url("../fonts/SFProDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Heavy.woff") format("woff"), url("../fonts/SFProDisplay-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Thin.woff") format("woff"), url("../fonts/SFProDisplay-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Ultralight.woff") format("woff"), url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  color: #000;
  overflow-x: hidden;
}

body.overlay {
  height: 100vh;
  overflow: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 20px;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.headertitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #1D1D1B;
}

.blue-btn {
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  padding: 13px 20px 13px;
  background: #00798C;
  border-radius: 5px;
  transition: all ease 0.3s;
  border: 1px solid #00798C;
  color: #fff;
}

.blue-btn:hover {
  background: #02535f;
}

.orange-btn {
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  padding: 13px 20px 13px;
  background: #FFAF23;
  border-radius: 5px;
  transition: all ease 0.3s;
  border: 1px solid #FFAF23;
  color: #fff;
}

.orange-btn:hover {
  background: #fff;
  color: #FFAF23;
}

.white-btn {
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  padding: 13px 20px 13px;
  background: #fff;
  border-radius: 5px;
  transition: all ease 0.3s;
  border: 1px solid #FFAF23;
  color: #FFAF23;
}

.white-btn:hover {
  background: #FFAF23;
  color: #fff;
}

.show-more__btn {
  display: block;
  white-space: nowrap;
  font-size: 18px;
  max-width: 181px;
  width: 100%;
  margin: 0 auto;
}

input,
textarea {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  outline: none;
  font-size: 14px;
  padding: 10px 20px;
}

button.orange-btn,
a.orange-btn {
  font-family: "Raleway", sans-serif;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  padding: 13px 20px 13px;
  background: #FFAF23;
  border-radius: 10px;
  transition: all ease 0.3s;
  border: 1px solid #FFAF23;
  color: #fff;
}

button.orange-btn:hover,
a.orange-btn:hover {
  background: #fff;
  color: #FFAF23;
}

button.white-btn,
a.white-btn {
  text-align: center;
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  padding: 13px 20px 13px;
  background: #fff;
  border-radius: 10px;
  transition: all ease 0.3s;
  border: 1px solid #FFAF23;
  color: #FFAF23;
}

button.white-btn:hover,
a.white-btn:hover {
  background: #FFAF23;
  color: #fff;
}

.main-link {
  color: #00798C;
  text-decoration: underline;
  text-underline-offset: 2px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.personal-cabinet {
  padding-top: 0;
  margin-top: 0;
  height: 100%;
  background-image: url("../img/lc_bg.jpg");
  background-size: cover;
  background-position: center;
}

.personal-cabinet__container {
  padding-top: 84px;
  padding-bottom: 50px;
  max-width: 1140px;
  min-height: 100%;
}

.personal-cabinet__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personal-cabinet__left {
  max-width: 500px;
  width: 100%;
  margin-right: 40px;
  color: #00798C;
}

.personal-cabinet__right {
  max-width: 475px;
  width: 100%;
}

.personal-cabinet__title {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 55px;
  padding-left: 50px;
  color: #00798C;
}

.personal-cabinet__elem {
  position: relative;
  padding-left: 50px;
  font-size: 22px;
  line-height: 1.2;
}

.personal-cabinet__elem::before {
  content: url("../img/list-check.svg");
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.personal-cabinet__elem:not(:last-child) {
  margin-bottom: 20px;
}

.personal-cabinet__form {
  background: #FFFFFF;
  box-shadow: 0px 0px 42px 1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 65px 70px;
}

.personal-cabinet__form input {
  border: 1px solid #F5F5F5;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);
  transition: all ease 0.2s;
}

.personal-cabinet__form input:hover,
.personal-cabinet__form input:focus {
  border-color: #00798C;
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.25);
}

.personal-cabinet__form-row:not(:last-child) {
  margin-bottom: 30px;
}

.personal-cabinet__btn.white-btn {
  font-size: 20px;
}

.personal-cabinet__btn.orange-btn {
  font-size: 20px;
}

.personal-cabinet__form-link {
  text-align: center;
}

.personal-cabinet__link {
  font-size: 16px;
  color: #00798C;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.control-checkbox_new-style .control_indicator {
  width: 21px;
  height: 21px;
}

.control-checkbox_new-style .control_indicator::after {
  content: "";
  background: #00798C;
  background-image: none;
  width: 13px;
  height: 13px;
  border-radius: 2px;
  transform: translate(0, 0);
  top: 2px;
  left: 2px;
}

.cabinet-catalog {
  padding-bottom: 50px;
}

.cabinet-catalog__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.cabinet-catalog__item:not(:last-child) {
  margin-bottom: 30px;
}

.cabinet-item {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.cabinet-item.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.cabinet-item_contract .cabinet-item__col {
  text-align: left;
}

.cabinet-item__photo {
  flex: 0 0 225px;
  max-width: 225px;
  width: 100%;
  margin-right: 44px;
}

.cabinet-item__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.cabinet-item__table {
  padding-top: 15px;
  width: 100%;
  padding-right: 50px;
}

.cabinet-item__row {
  padding: 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.cabinet-item__col {
  text-align: center;
}

.cabinet-item__col:not(:last-child) {
  padding-right: 5px;
}

.cabinet-item__col img {
  max-width: 170px;
  display: block;
  width: 100%;
  height: auto;
}

.cabinet-item__icons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.cabinet-item__icons .fa-solid {
  font-size: 20px;
  color: #E0E0E0;
}

.cabinet-item__icons .fa-solid:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 992px) {
  .personal-cabinet__container {
    padding: 30px 15px;
  }

  .personal-cabinet__wrapper {
    flex-direction: column-reverse;
  }

  .personal-cabinet__left {
    margin-right: 0;
  }

  .personal-cabinet__right {
    margin-bottom: 50px;
  }

  .personal-cabinet__title {
    font-size: 30px;
    margin-bottom: 40px;
    padding-left: 0;
    text-align: center;
  }

  .cabinet-item__photo {
    margin-right: 15px;
  }

  .cabinet-item__table {
    padding-right: 15px;
  }

  .cabinet-item__col {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .cabinet-item {
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }

  .cabinet-item_contract .cabinet-item__body {
    display: none;
  }

  .cabinet-item__photo {
    max-width: 100%;
    margin: 0 auto;
  }

  .cabinet-item__table {
    padding-left: 15px;
  }
}

@media (max-width: 568px) {
  .personal-cabinet__form {
    padding: 30px;
  }

  .personal-cabinet__form-row:not(:last-child) {
    margin-bottom: 20px;
  }

  .cabinet-item_contract .cabinet-item__col:not(:last-child) {
    margin-bottom: 0;
  }

  .cabinet-item_contract .cabinet-item__header {
    display: block;
  }

  .cabinet-item_contract .cabinet-item__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cabinet-item__header {
    display: none;
  }

  .cabinet-item__row {
    display: block;
  }

  .cabinet-item__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cabinet-item__col:before {
    content: attr(data-label);
  }

  .cabinet-item__col:not(:last-child) {
    margin-bottom: 15px;
  }
}