.text-content h1 {
  font-size: 30px;
}

.text-content h1:not(:last-child) {
  margin-bottom: 30px;
}

.text-content h2 {
  font-size: 30px;
}

.text-content h2:not(:last-child) {
  margin-bottom: 30px;
}

.text-content h3 {
  font-size: 18px;
}

.text-content h3:not(:last-child) {
  margin-bottom: 30px;
}

.text-content h4:not(:last-child) {
  margin-bottom: 30px;
}

.text-content h5:not(:last-child) {
  margin-bottom: 30px;
}

.text-content h6:not(:last-child) {
  margin-bottom: 30px;
}

.text-content p:not(:last-child) {
  margin-bottom: 15px;
}

.text-content ul:not(:last-child) {
  margin-bottom: 15px;
}

.text-content ul li:not(:last-child) {
  margin-bottom: 8px;
}

ul.list-dotted li {
  list-style: disc;
  list-style-position: inside;
}

.colored {
  color: #00798C;
}

.text-center {
  text-align: center;
}