@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Black.woff") format("woff"), url("../fonts/SFProDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Heavy.woff") format("woff"), url("../fonts/SFProDisplay-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Thin.woff") format("woff"), url("../fonts/SFProDisplay-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Ultralight.woff") format("woff"), url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  color: #000;
  overflow-x: hidden;
}

body.overlay {
  height: 100vh;
  overflow: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 20px;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.headertitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #1D1D1B;
}

.blue-btn {
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  padding: 13px 20px 13px;
  background: #00798C;
  border-radius: 5px;
  transition: all ease 0.3s;
  border: 1px solid #00798C;
  color: #fff;
}

.blue-btn:hover {
  background: #02535f;
}

.orange-btn {
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  padding: 13px 20px 13px;
  background: #FFAF23;
  border-radius: 5px;
  transition: all ease 0.3s;
  border: 1px solid #FFAF23;
  color: #fff;
}

.orange-btn:hover {
  background: #fff;
  color: #FFAF23;
}

.white-btn {
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  padding: 13px 20px 13px;
  background: #fff;
  border-radius: 5px;
  transition: all ease 0.3s;
  border: 1px solid #FFAF23;
  color: #FFAF23;
}

.white-btn:hover {
  background: #FFAF23;
  color: #fff;
}

.show-more__btn {
  display: block;
  white-space: nowrap;
  font-size: 18px;
  max-width: 181px;
  width: 100%;
  margin: 0 auto;
}

input,
textarea {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  outline: none;
  font-size: 14px;
  padding: 10px 20px;
}

button.orange-btn,
a.orange-btn {
  font-family: "Raleway", sans-serif;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  padding: 13px 20px 13px;
  background: #FFAF23;
  border-radius: 10px;
  transition: all ease 0.3s;
  border: 1px solid #FFAF23;
  color: #fff;
}

button.orange-btn:hover,
a.orange-btn:hover {
  background: #fff;
  color: #FFAF23;
}

button.white-btn,
a.white-btn {
  text-align: center;
  font-family: "Raleway", sans-serif;
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  padding: 13px 20px 13px;
  background: #fff;
  border-radius: 10px;
  transition: all ease 0.3s;
  border: 1px solid #FFAF23;
  color: #FFAF23;
}

button.white-btn:hover,
a.white-btn:hover {
  background: #FFAF23;
  color: #fff;
}

.main-link {
  color: #00798C;
  text-decoration: underline;
  text-underline-offset: 2px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.trademark-catalog__wrapper {
  display: flex;
  align-items: flex-start;
}

.trademark-catalog__filter {
  flex: 0 0 269px;
  max-width: 269px;
  width: 100%;
  margin-right: 44px;
}

.trademark-catalog__filter .control {
  display: block;
  padding-left: 25px;
}

.trademark-catalog__filter .control:not(:last-child) {
  margin-bottom: 8px;
}

.trademark-catalog__filter .contol-group__text {
  font-size: 14px;
}

.trademark-catalog__filter .control .control_indicator {
  width: 16px;
  height: 16px;
  top: 2px;
}

.trademark-catalog__filter .control .control_indicator::after {
  width: 11px;
  height: 11px;
}

.trademark-catalog__body {
  width: 100%;
}

.trademark-filter__label {
  padding-top: 10px;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.trademark-filter__aside {
  background: #F5F5F5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.trademark-filter__item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  padding: 12px 15px;
  border-bottom: 1px solid #E0E0E0;
}

.trademark-filter__item_unbordered {
  border: none;
}

.trademark-filter__item[open] {
  background: #F5F5F5;
}

.trademark-filter__item[open] .trademark-filter__head {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-bottom: 12px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 12px;
}

.trademark-filter__item[open] .trademark-filter__head svg {
  transform: rotate(180deg);
  stroke: #00798C;
}

.trademark-filter__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.trademark-filter__head svg {
  stroke: #000;
  transition: all ease 0.2s;
}

.trademark-filter__body input:not(:last-child) {
  margin-bottom: 15px;
}

.trademark-filter__choose-btn {
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #00798C;
}

.trademark-filter__choose-btn span {
  margin-right: 10px;
  text-decoration: underline;
}

.trademark-filter__choose-btn::after {
  content: ">";
}

.trademark-filter__footer {
  padding: 18px 15px;
}

.trademark-filter__btn {
  background: #00798C;
  border-radius: 10px;
  color: #fff;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
}

.trademark-filter__btn:hover {
  background: #015d6b;
}

.trademark-filter__classes {
  display: none;
  max-height: 377px;
  overflow: auto;
  position: relative;
  z-index: 2;
  margin-right: -2px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 10px 10px;
}

.trademark-filter__classes.show {
  display: block;
}

.trademark-filter__links {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
}

.trademark-filter__links-elem:not(:last-child) {
  margin-bottom: 19px;
}

.trademark-filter__link {
  position: relative;
  display: block;
  width: 100%;
  padding-right: 15px;
  transition: all 0.2s ease;
}

.trademark-filter__link:hover {
  color: #00798C;
}

.trademark-filter__link::after {
  content: ">";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.trademark-classes__item {
  padding: 12px 15px;
  max-height: 75px;
  overflow: hidden;
}

.trademark-classes__item:not(:last-child) {
  border-bottom: 1px solid #E0E0E0;
}

input,
textarea {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  outline: none;
  font-size: 14px;
  padding: 10px 20px;
}

.btn-reset {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.trademark-catalog__sort {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.trademark-catalog__sort-label {
  white-space: nowrap;
  font-size: 16px;
  margin-right: 20px;
}

.trademark-catalog__sort-select {
  min-width: 150px;
}

.trademark-item {
  padding: 25px 0px 25px 15px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.trademark-item:not(:last-child) {
  margin-bottom: 15px;
}

.trademark-item__header {
  font-size: 16px;
}

.trademark-item__row {
  display: flex;
  align-items: center;
}

.trademark-item__col {
  padding: 10px;
  width: 100%;
}

.trademark-item__mob-label {
  display: none;
}

.trademark-item__name {
  text-decoration: underline;
}

.trademark-item__name img {
  display: block;
  width: 100%;
  height: auto;
}

.trademark-item__price {
  white-space: nowrap;
  font-weight: bold;
}

.trademark-item__body {
  font-size: 18px;
}

@media (max-width: 992px) {
  .trademark-item__header {
    display: none;
  }

  .trademark-item__row {
    display: block;
  }

  .trademark-item__col {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .trademark-item__mob-label {
    margin-right: 15px;
    display: block;
  }
}

@media (max-width: 767px) {
  .trademark-catalog__wrapper {
    display: block;
  }

  .trademark-catalog__filter {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .trademark-item {
    padding: 15px 10px 15px 10px;
  }
}